Pi/node-red-flows/flows_pi.json
[{"type":"tab","id":"ad1999c.f52e668","label":"HaDi Test Sheet"},{"id":"15bad9a4.ea4526","type":"sqlitedb","db":"/home/pi/hackingdiabetes/Pi/db.sqlite"},{"id":"d9f10181.260f","type":"http in","name":"Dexcom G4 agent (/g4sim)","url":"/g4sim","method":"post","x":166,"y":177,"z":"ad1999c.f52e668","wires":[["31a07f50.ce5f8","205cf9ae.dfa306","378b67e3.c87498","39fd110.fc602f"]]},{"id":"6c8cab22.937354","type":"file","name":"Output to log file (g4.output)","filename":"g4.output","appendNewline":true,"overwriteFile":false,"x":777,"y":154,"z":"ad1999c.f52e668","wires":[]},{"id":"8da0ea8e.725f18","type":"http response","name":"HTTP 200 OK","x":839.0909423828125,"y":309.0909118652344,"z":"ad1999c.f52e668","wires":[]},{"id":"31a07f50.ce5f8","type":"template","name":"Return HTTP Response to agent","template":"HTTP/1.1 200 OK","x":519.0909118652344,"y":309.0909118652344,"z":"ad1999c.f52e668","wires":[["8da0ea8e.725f18"]]},{"id":"551dbc20.aae244","type":"http in","name":"Display logged data on web (/show)","url":"/show","method":"get","x":197.09091186523438,"y":437.0909423828125,"z":"ad1999c.f52e668","wires":[["58d370f1.a72c9"]]},{"id":"58d370f1.a72c9","type":"file in","name":"","filename":"g4.output","format":"utf8","x":512.0909118652344,"y":436.0909423828125,"z":"ad1999c.f52e668","wires":[["44ae4cf8.bb51b4"]]},{"id":"44ae4cf8.bb51b4","type":"http response","name":"Response","x":786.0909423828125,"y":435.0909423828125,"z":"ad1999c.f52e668","wires":[]},{"id":"205cf9ae.dfa306","type":"json","name":"Transform to JSON","x":480.9999694824219,"y":154,"z":"ad1999c.f52e668","wires":[["6c8cab22.937354"]]},{"id":"378b67e3.c87498","type":"http request","name":"Repeat to WoTKit","method":"GET","url":"http://wotkit.sensetecnic.com/api/sensors/hackathon.prediction/data","x":478,"y":80,"z":"ad1999c.f52e668","wires":[[]]},{"id":"34083517.cbf7ca","type":"sqlite","mydb":"15bad9a4.ea4526","name":"DB","x":856,"y":229,"z":"ad1999c.f52e668","wires":[[]]},{"id":"1920224d.e6dfde","type":"http in","name":"Initializes the SQLite DB (/dbinit)","url":"/dbinit","method":"get","x":186,"y":516,"z":"ad1999c.f52e668","wires":[["3913b34c.c6ec4c"]]},{"id":"7552a1fb.8aad6","type":"sqlite","mydb":"15bad9a4.ea4526","name":"SQLite DB","x":745,"y":518,"z":"ad1999c.f52e668","wires":[["ec337b27.13cc88"]]},{"id":"3913b34c.c6ec4c","type":"change","action":"replace","property":"topic","from":"","to":"create table Readings(Inserted DATETIME DEFAULT CURRENT_TIMESTAMP, Payload TEXT)","reg":false,"name":"create table Readings","x":474,"y":516,"z":"ad1999c.f52e668","wires":[["7552a1fb.8aad6"]]},{"id":"ec337b27.13cc88","type":"http response","name":"Response","x":914,"y":518,"z":"ad1999c.f52e668","wires":[]},{"id":"39fd110.fc602f","type":"change","action":"replace","property":"topic","from":"","to":"insert into readings values (CURRENT_TIMESTAMP, 'msg.payload')","reg":false,"name":"Write payload to SQLite DB","x":503,"y":229,"z":"ad1999c.f52e668","wires":[["34083517.cbf7ca"]]},{"id":"b170f502.4e8f08","type":"debug","name":"","active":true,"console":false,"complete":false,"x":828,"y":618,"z":"ad1999c.f52e668","wires":[]},{"id":"4c7213c0.b38dec","type":"http in","name":"Deletes the SQLite DB (/dbdelete)","url":"/dbdelete","method":"get","x":193,"y":583,"z":"ad1999c.f52e668","wires":[["c91bab0a.36e458"]]},{"id":"c91bab0a.36e458","type":"exec","command":"rm","append":"/home/pi/hackingdiabetes/Pi/db.sqlite","useSpawn":"","name":"","x":463,"y":583,"z":"ad1999c.f52e668","wires":[[],["b4304892.4bcfb8","b170f502.4e8f08"],[]]},{"id":"b4304892.4bcfb8","type":"http response","name":"","x":827,"y":573,"z":"ad1999c.f52e668","wires":[]}]