Pi/node-red-flows/flows_pi.json
[{"type":"tab","id":"ad1999c.f52e668","label":"HaDi Test Sheet"},{"id":"15bad9a4.ea4526","type":"sqlitedb","db":"/home/pi/hackingdiabetes/Pi/db.sqlite"},{"id":"d9f10181.260f","type":"http in","name":"Dexcom G4 agent (/g4sim)","url":"/g4sim","method":"post","x":166,"y":177,"z":"ad1999c.f52e668","wires":[["31a07f50.ce5f8","205cf9ae.dfa306","378b67e3.c87498","39fd110.fc602f"]]},{"id":"6c8cab22.937354","type":"file","name":"Output to log file (g4.output)","filename":"g4.output","appendNewline":true,"overwriteFile":false,"x":795,"y":137,"z":"ad1999c.f52e668","wires":[]},{"id":"8da0ea8e.725f18","type":"http response","name":"HTTP 200 OK","x":847.0909423828125,"y":255.09091186523438,"z":"ad1999c.f52e668","wires":[]},{"id":"31a07f50.ce5f8","type":"template","name":"Return HTTP Response to agent","template":"HTTP/1.1 200 OK","x":520.0909118652344,"y":255.09091186523438,"z":"ad1999c.f52e668","wires":[["8da0ea8e.725f18"]]},{"id":"551dbc20.aae244","type":"http in","name":"Display logged data on web (/show)","url":"/show","method":"get","x":195.09091186523438,"y":348.0909423828125,"z":"ad1999c.f52e668","wires":[["58d370f1.a72c9"]]},{"id":"58d370f1.a72c9","type":"file in","name":"","filename":"g4.output","format":"utf8","x":519.0909118652344,"y":348.0909423828125,"z":"ad1999c.f52e668","wires":[["44ae4cf8.bb51b4"]]},{"id":"44ae4cf8.bb51b4","type":"http response","name":"Response","x":858.0909423828125,"y":348.0909423828125,"z":"ad1999c.f52e668","wires":[]},{"id":"205cf9ae.dfa306","type":"json","name":"Transform to JSON","x":478.9999694824219,"y":136,"z":"ad1999c.f52e668","wires":[["6c8cab22.937354"]]},{"id":"378b67e3.c87498","type":"http request","name":"Repeat to WoTKit","method":"GET","url":"http://wotkit.sensetecnic.com/api/sensors/hackathon.prediction/data","x":478,"y":80,"z":"ad1999c.f52e668","wires":[[]]},{"id":"34083517.cbf7ca","type":"sqlite","mydb":"15bad9a4.ea4526","name":"DB","x":862,"y":194,"z":"ad1999c.f52e668","wires":[[]]},{"id":"1920224d.e6dfde","type":"http in","name":"Initializes the SQLite DB (/dbinit)","url":"/dbinit","method":"get","x":187,"y":436,"z":"ad1999c.f52e668","wires":[["3913b34c.c6ec4c"]]},{"id":"7552a1fb.8aad6","type":"sqlite","mydb":"15bad9a4.ea4526","name":"SQLite DB","x":686,"y":436,"z":"ad1999c.f52e668","wires":[["ec337b27.13cc88"]]},{"id":"3913b34c.c6ec4c","type":"change","action":"replace","property":"topic","from":"","to":"create table Readings(Inserted DATETIME DEFAULT CURRENT_TIMESTAMP, Payload TEXT)","reg":false,"name":"create table Readings","x":458,"y":436,"z":"ad1999c.f52e668","wires":[["7552a1fb.8aad6"]]},{"id":"ec337b27.13cc88","type":"http response","name":"Response","x":859,"y":436,"z":"ad1999c.f52e668","wires":[]},{"id":"39fd110.fc602f","type":"change","action":"replace","property":"topic","from":"","to":"insert into readings values (CURRENT_TIMESTAMP, 'msg.payload')","reg":false,"name":"Write payload to SQLite DB","x":503,"y":194,"z":"ad1999c.f52e668","wires":[["34083517.cbf7ca"]]},{"id":"b170f502.4e8f08","type":"debug","name":"","active":true,"console":false,"complete":false,"x":865,"y":550,"z":"ad1999c.f52e668","wires":[]},{"id":"4c7213c0.b38dec","type":"http in","name":"Deletes the SQLite DB (/dbdelete)","url":"/dbdelete","method":"get","x":191,"y":522,"z":"ad1999c.f52e668","wires":[["c91bab0a.36e458"]]},{"id":"c91bab0a.36e458","type":"exec","command":"rm -f /home/pi/hackingdiabetes/Pi/db.sqlite","append":"","useSpawn":false,"name":"rm db.sqlite","x":540,"y":522,"z":"ad1999c.f52e668","wires":[[],["b170f502.4e8f08","b4304892.4bcfb8"],[]]},{"id":"b4304892.4bcfb8","type":"http response","name":"","x":867,"y":500,"z":"ad1999c.f52e668","wires":[]},{"id":"f48ccc19.0b733","type":"http in","name":"Dump readings (/dbshow)","url":"/dbshow","method":"get","x":168,"y":613,"z":"ad1999c.f52e668","wires":[["de19f8d3.21e608"]]},{"id":"814bd3e1.7eb43","type":"sqlite","mydb":"15bad9a4.ea4526","name":"DB","x":647,"y":613,"z":"ad1999c.f52e668","wires":[["62673cff.9d98c4","e9aea6a.f165158"]]},{"id":"e9aea6a.f165158","type":"debug","name":"","active":true,"console":false,"complete":false,"x":863,"y":649,"z":"ad1999c.f52e668","wires":[]},{"id":"62673cff.9d98c4","type":"http response","name":"","x":866,"y":600,"z":"ad1999c.f52e668","wires":[]},{"id":"de19f8d3.21e608","type":"change","action":"replace","property":"topic","from":"","to":"select * from readings","reg":false,"name":"select * from readings","x":444,"y":613,"z":"ad1999c.f52e668","wires":[["814bd3e1.7eb43"]]}]